@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
       <tr><th>RegNo</th><th>Name</th><th>DOB</th></tr>
    @foreach(var item in IndexModel.studentlist)
    {
        <tr><td>@item.RegID</td><td>@item.Name</td><td>@item.DOB</td></tr>
        
    }
    </table>
</div>
